.p0 {
    padding: 0
}

.pt0 {
    padding-top: 0
}

.pr0 {
    padding-right: 0
}

.pb0 {
    padding-bottom: 0
}

.pl0 {
    padding-left: 0
}

.p2 {
    padding: 2px;
}

.pt2 {
    padding-top: 2px;
}

.pr2 {
    padding-right: 2px;
}

.pb2 {
    padding-bottom: 2px;
}

.pl2 {
    padding-left: 2px;
}

.p4 {
    padding: 4px;
}

.pt4 {
    padding-top: 4px;
}

.pr4 {
    padding-right: 4px;
}

.pb4 {
    padding-bottom: 4px;
}

.pl4 {
    padding-left: 4px;
}

.p8 {
    padding: 8px;
}

.pt8 {
    padding-top: 8px;
}

.pr8 {
    padding-right: 8px;
}

.pb8 {
    padding-bottom: 8px;
}

.pl8 {
    padding-left: 8px;
}

.p12 {
    padding: 12px;
}

.pt12 {
    padding-top: 12px;
}

.pr12 {
    padding-right: 12px;
}

.pb12 {
    padding-bottom: 12px;
}

.pl12 {
    padding-left: 12px;
}

.p16 {
    padding: 16px;
}

.pt16 {
    padding-top: 16px;
}

.pr16 {
    padding-right: 16px;
}

.pb16 {
    padding-bottom: 16px;
}

.pl16 {
    padding-left: 16px;
}

.p20 {
    padding: 20px;
}

.pt20 {
    padding-top: 20px;
}

.pr20 {
    padding-right: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.pl20 {
    padding-left: 20px;
}

.p24 {
    padding: 24px;
}

.pt24 {
    padding-top: 24px;
}

.pr24 {
    padding-right: 24px;
}

.pb24 {
    padding-bottom: 24px;
}

.pl24 {
    padding-left: 24px;
}

.p24-56 {
    padding: 24px;
}

.pt24-56 {
    padding-top: 24px;
}

.pr24-56 {
    padding-right: 24px;
}

.pb24-56 {
    padding-bottom: 24px;
}

.pl24-56 {
    padding-left: 24px;
}

.p32 {
    padding: 32px;
}

.pt32 {
    padding-top: 32px;
}

.pr32 {
    padding-right: 32px;
}

.pb32 {
    padding-bottom: 32px;
}

.pl32 {
    padding-left: 32px;
}

.p32-56 {
    padding: 32px;
}

.pt32-56 {
    padding-top: 32px;
}

.pr32-56 {
    padding-right: 32px;
}

.pb32-56 {
    padding-bottom: 32px;
}

.pl32-56 {
    padding-left: 32px;
}

.p40 {
    padding: 40px;
}

.pt40 {
    padding-top: 40px;
}

.pr40 {
    padding-right: 40px;
}

.pb40 {
    padding-bottom: 40px;
}

.pl40 {
    padding-left: 40px;
}

.p48 {
    padding: 48px;
}

.pt48 {
    padding-top: 48px;
}

.pr48 {
    padding-right: 48px;
}

.pb48 {
    padding-bottom: 48px;
}

.pl48 {
    padding-left: 48px;
}

.p56 {
    padding: 56px;
}

.pt56 {
    padding-top: 56px;
}

.pr56 {
    padding-right: 56px;
}

.pb56 {
    padding-bottom: 56px;
}

.pl56 {
    padding-left: 56px;
}

.p64 {
    padding: 64px;
}

.pt64 {
    padding-top: 64px;
}

.pr64 {
    padding-right: 64px;
}

.pb64 {
    padding-bottom: 64px;
}

.pl64 {
    padding-left: 64px;
}

.p72 {
    padding: 72px;
}

.pt72 {
    padding-top: 72px;
}

.pr72 {
    padding-right: 72px;
}

.pb72 {
    padding-bottom: 72px;
}

.pl72 {
    padding-left: 72px;
}

.p80 {
    padding: 80px;
}

.pt80 {
    padding-top: 80px;
}

.pr80 {
    padding-right: 80px;
}

.pb80 {
    padding-bottom: 80px;
}

.pl80 {
    padding-left: 80px;
}

.p8-16 {
    padding: 8px;
}

.pt8-16 {
    padding-top: 8px;
}

.pr8-16 {
    padding-right: 8px;
}

.pb8-16 {
    padding-bottom: 8px;
}

.pl8-16 {
    padding-left: 8px;
}

.p32-96 {
    padding: 32px;
}

.pt32-96 {
    padding-top: 32px;
}

.pr32-96 {
    padding-right: 32px;
}

.pb32-96 {
    padding-bottom: 32px;
}

.pl32-96 {
    padding-left: 32px;
}

.p56-96 {
    padding: 56px;
}

.pt56-96 {
    padding-top: 56px;
}

.pr56-96 {
    padding-right: 56px;
}

.pb56-96 {
    padding-bottom: 56px;
}

.pl56-96 {
    padding-left: 56px;
}



.m0 {
    margin: 0
}

.mt0 {
    margin-top: 0
}

.mr0 {
    margin-right: 0
}

.mb0 {
    margin-bottom: 0
}

.ml0 {
    margin-left: 0
}

.m2 {
    margin: 2px;
}

.mt2 {
    margin-top: 2px;
}

.mr2 {
    margin-right: 2px;
}

.mb2 {
    margin-bottom: 2px;
}

.ml2 {
    margin-left: 2px;
}

.m4 {
    margin: 4px;
}

.mt4 {
    margin-top: 4px;
}

.mr4 {
    margin-right: 4px;
}

.mb4 {
    margin-bottom: 4px;
}

.ml4 {
    margin-left: 4px;
}

.m6 {
    margin: 6px;
}

.mt6 {
    margin-top: 6px;
}

.mr6 {
    margin-right: 6px;
}

.mb6 {
    margin-bottom: 6px;
}

.ml6 {
    margin-left: 6px;
}

.m8 {
    margin: 8px;
}

.mt8 {
    margin-top: 8px;
}

.mr8 {
    margin-right: 8px;
}

.mb8 {
    margin-bottom: 8px;
}

.ml8 {
    margin-left: 8px;
}

.m12 {
    margin: 12px;
}

.mt12 {
    margin-top: 12px;
}

.mr12 {
    margin-right: 12px;
}

.mb12 {
    margin-bottom: 12px;
}

.ml12 {
    margin-left: 12px;
}

.m16 {
    margin: 16px;
}

.mt16 {
    margin-top: 16px;
}

.mr16 {
    margin-right: 16px;
}

.mb16 {
    margin-bottom: 16px;
}

.ml16 {
    margin-left: 16px;
}

.m20 {
    margin: 20px;
}

.mt20 {
    margin-top: 20px;
}

.mr20 {
    margin-right: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml20 {
    margin-left: 20px;
}

.m24 {
    margin: 24px;
}

.mt24 {
    margin-top: 24px;
}

.mr24 {
    margin-right: 24px;
}

.mb24 {
    margin-bottom: 24px;
}

.ml24 {
    margin-left: 24px;
}

.m8-16 {
    margin: 8px;
}

.mt8-16 {
    margin-top: 8px;
}

.mr8-16 {
    margin-right: 8px;
}

.mb8-16 {
    margin-bottom: 8px;
}

.ml8-16 {
    margin-left: 8px;
}

.m32-56 {
    margin: 32px;
}

.mt24-40 {
    margin-top: 24px;
}

.mr24-40 {
    margin-right: 24px;
}

.mb24-40 {
    margin-bottom: 24px;
}

.ml24-40 {
    margin-left: 24px;
}

.m24-56 {
    margin: 24px;
}

.mt24-56 {
    margin-top: 24px;
}

.mr24-56 {
    margin-right: 24px;
}

.mb24-56 {
    margin-bottom: 24px;
}

.ml24-56 {
    margin-left: 24px;
}

.m32 {
    margin: 32px;
}

.mt32 {
    margin-top: 32px;
}

.mr32 {
    margin-right: 32px;
}

.mb32 {
    margin-bottom: 32px;
}

.ml32 {
    margin-left: 32px;
}

.m32-56 {
    margin: 32px;
}

.mt32-56 {
    margin-top: 32px;
}

.mr32-56 {
    margin-right: 32px;
}

.mb32-56 {
    margin-bottom: 32px;
}

.ml32-56 {
    margin-left: 32px;
}



.m40 {
    margin: 40px;
}

.mt40 {
    margin-top: 40px;
}

.mr40 {
    margin-right: 40px;
}

.mb40 {
    margin-bottom: 40px;
}

.ml40 {
    margin-left: 40px;
}

.m48 {
    margin: 48px;
}

.mt48 {
    margin-top: 48px;
}

.mr48 {
    margin-right: 48px;
}

.mb48 {
    margin-bottom: 48px;
}

.ml48 {
    margin-left: 48px;
}

.m56 {
    margin: 56px;
}

.mt56 {
    margin-top: 56px;
}

.mr56 {
    margin-right: 56px;
}

.mb56 {
    margin-bottom: 56px;
}

.ml56 {
    margin-left: 56px;
}

.m64 {
    margin: 64px;
}

.mt64 {
    margin-top: 64px;
}

.mr64 {
    margin-right: 64px;
}

.mb64 {
    margin-bottom: 64px;
}

.ml64 {
    margin-left: 64px;
}

.m72 {
    margin: 72px;
}

.mt72 {
    margin-top: 72px;
}

.mr72 {
    margin-right: 72px;
}

.mb72 {
    margin-bottom: 72px;
}

.ml72 {
    margin-left: 72px;
}

.m80 {
    margin: 80px;
}

.mt80 {
    margin-top: 80px;
}

.mr80 {
    margin-right: 80px;
}

.mb80 {
    margin-bottom: 80px;
}

.ml80 {
    margin-left: 80px;
}

.m32-96 {
    margin: 32px;
}

.mt32-96 {
    margin-top: 32px;
}

.mr32-96 {
    margin-right: 32px;
}

.mb32-96 {
    margin-bottom: 32px;
}

.ml32-96 {
    margin-left: 32px;
}

.m56-96 {
    margin: 56px;
}

.mt56-96 {
    margin-top: 56px;
}

.mr56-96 {
    margin-right: 56px;
}

.mb56-96 {
    margin-bottom: 56px;
}

.ml56-96 {
    margin-left: 56px;
}


@media (min-width: 992px) {
    .p8-16 {
        padding: 16px;
    }

    .pt8-16 {
        padding-top: 16px;
    }

    .pr8-16 {
        padding-right: 16px;
    }

    .pb8-16 {
        padding-bottom: 16px;
    }

    .pl8-16 {
        padding-left: 16px;
    }

    .p32-96 {
        padding: 96px;
    }

    .pt32-96 {
        padding-top: 96px;
    }

    .pr32-96 {
        padding-right: 96px;
    }

    .pb32-96 {
        padding-bottom: 96px;
    }

    .pl32-96 {
        padding-left: 96px;
    }

    .p56-96 {
        padding: 96px;
    }

    .pt56-96 {
        padding-top: 96px;
    }

    .pr56-96 {
        padding-right: 96px;
    }

    .pb56-96 {
        padding-bottom: 96px;
    }

    .pl56-96 {
        padding-left: 96px;
    }

    .p24-56 {
        padding: 56px;
    }

    .pt24-56 {
        padding-top: 56px;
    }

    .pr24-56 {
        padding-right: 56px;
    }

    .pb24-56 {
        padding-bottom: 56px;
    }

    .pl24-56 {
        padding-left: 56px;
    }


    .p32-56 {
        padding: 56px;
    }

    .pt32-56 {
        padding-top: 56px;
    }

    .pr32-56 {
        padding-right: 56px;
    }

    .pb32-56 {
        padding-bottom: 56px;
    }

    .pl32-56 {
        padding-left: 56px;
    }

    .m8-16 {
        margin: 16px;
    }

    .mt8-16 {
        margin-top: 16px;
    }

    .mr8-16 {
        margin-right: 16px;
    }

    .mb8-16 {
        margin-bottom: 16px;
    }

    .ml8-16 {
        margin-left: 16px;
    }

    .m32-96 {
        margin: 96px;
    }

    .mt32-96 {
        margin-top: 96px;
    }

    .mr32-96 {
        margin-right: 96px;
    }

    .mb32-96 {
        margin-bottom: 96px;
    }

    .ml32-96 {
        margin-left: 96px;
    }

    .m56-96 {
        margin: 96px;
    }

    .mt56-96 {
        margin-top: 96px;
    }

    .mr56-96 {
        margin-right: 96px;
    }

    .mb56-96 {
        margin-bottom: 96px;
    }

    .ml56-96 {
        margin-left: 96px;
    }

    .m24-56 {
        margin: 56px;
    }

    .mt24-56 {
        margin-top: 56px;
    }

    .mr24-56 {
        margin-right: 56px;
    }

    .mb24-56 {
        margin-bottom: 56px;
    }

    .ml24-56 {
        margin-left: 56px;
    }

    .mt24-40 {
        margin-top: 40px;
    }

    .mr24-40 {
        margin-right: 40px;
    }

    .mb24-40 {
        margin-bottom: 40px;
    }

    .ml24-40 {
        margin-left: 40px;
    }

    .m32-56 {
        margin: 56px;
    }

    .mt32-56 {
        margin-top: 56px;
    }

    .mr32-56 {
        margin-right: 56px;
    }

    .mb32-56 {
        margin-bottom: 56px;
    }

    .ml32-56 {
        margin-left: 56px;
    }
}
